<h1 class="header">Catalog</h1>
<div>
  <button mat-button (click)="previousPage()">Previous</button>
  <h3 style="display: inline-block">{{pageNumber}}</h3>
  <button mat-button (click)="nextPage()">Next page</button>
</div>
<div class="itemCard" *ngFor="let item of items; let i = index">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{item.title}}</mat-card-title>
      <mat-card-subtitle>Id: {{item.itemId}}</mat-card-subtitle>
      <mat-card-subtitle>Price: {{ item.discount!= null ? item.price - (item.price* item.discount.percentage / 100) : item.price}}$</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="http://cdn.onlinewebfonts.com/svg/img_148071.png" alt="Item photo">
    <mat-card-content>
      <p>
        {{item.description}}
      </p>
    </mat-card-content>
    <mat-card-actions>
        <mat-grid-list cols="4" rowHeight="40px">
            <mat-grid-tile *ngIf="userRole=='User'" [colspan]="2" [rowspan]="1">
                <button mat-button (click) = "addItemToCartClick(item.itemId)">Add to cart</button>
            </mat-grid-tile>
            <mat-grid-tile *ngIf="userRole=='Admin'" [colspan]="2" [rowspan]="1">
              <button mat-button (click)="removeDiscountClick(item.itemId)">Remove discount</button>
            </mat-grid-tile>
            <a *ngIf="userRole=='Admin'" [routerLink]="['add/discount/per/item', item.itemId]">
              <mat-grid-tile [colspan]="2" [rowspan]="1">
                <button mat-button (click)="addDiscountClick(item.itemId)">Add discount</button>
              </mat-grid-tile>
            </a>
            <mat-grid-tile *ngIf="userRole=='Admin'" [colspan]="2" [rowspan]="1">
                <button mat-button (click)="deleteItemClick(item.itemId)">Delete item</button>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-card-actions>
  </mat-card>
</div>